<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day28Sevlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServOne</display-name>
    <servlet-name>ServOne</servlet-name>
    <servlet-class>com.ServOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServOne</servlet-name>
    <url-pattern>/ServOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServTwo</display-name>
    <servlet-name>ServTwo</servlet-name>
    <servlet-class>com.ServTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServTwo</servlet-name>
    <url-pattern>/one</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServThree</display-name>
    <servlet-name>ServThree</servlet-name>
    <servlet-class>com.ServThree</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CheckbokServlet</display-name>
    <servlet-name>CheckbokServlet</servlet-name>
    <servlet-class>com.CheckbokServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckbokServlet</servlet-name>
    <url-pattern>/CheckBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServFour</display-name>
    <servlet-name>ServFour</servlet-name>
    <servlet-class>com.ServFour</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServFour</servlet-name>
    <url-pattern>/ServFour</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServResponse</display-name>
    <servlet-name>ServResponse</servlet-name>
    <servlet-class>com.ServResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServResponse</servlet-name>
    <url-pattern>/ServResponse</url-pattern>
  </servlet-mapping>
  
  <context-param>
  <param-name>cname</param-name>
  <param-value>Wipro</param-value>
  </context-param>
  
  <servlet>
    <description></description>
    <display-name>SrvOne</display-name>
    <servlet-name>SrvOne</servlet-name>
    <servlet-class>configcontext.SrvOne</servlet-class>
    <init-param>
    <param-name>eid</param-name>
    <param-value>E001</param-value>
    </init-param>
    <init-param>
    <param-name>name</param-name>
    <param-value>kittu</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvOne</servlet-name>
    <url-pattern>/one</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SrvTwo</display-name>
    <servlet-name>SrvTwo</servlet-name>
    <servlet-class>configcontext.SrvTwo</servlet-class>
    <init-param>
    <param-name>eid</param-name>
    <param-value>E002</param-value>
    </init-param>
    <init-param>
    <param-name>name</param-name>
    <param-value>vivek</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SrvTwo</servlet-name>
    <url-pattern>/two</url-pattern>
  </servlet-mapping>
</web-app>