<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ContactsApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContactLoginSevlet</display-name>
    <servlet-name>ContactLoginSevlet</servlet-name>
    <servlet-class>login.ContactLoginSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactLoginSevlet</servlet-name>
    <url-pattern>/contactsLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayContactServlets</display-name>
    <servlet-name>DisplayContactServlets</servlet-name>
    <servlet-class>displayContacts.DisplayContactServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayContactServlets</servlet-name>
    <url-pattern>/DisplayContactServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactServlet</display-name>
    <servlet-name>AddContactServlet</servlet-name>
    <servlet-class>addContact.AddContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactServlet</servlet-name>
    <url-pattern>/addContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditContactServlet</display-name>
    <servlet-name>EditContactServlet</servlet-name>
    <servlet-class>editContact.EditContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditContactServlet</servlet-name>
    <url-pattern>/editContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>delete.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/deleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchContactServlet</display-name>
    <servlet-name>SearchContactServlet</servlet-name>
    <servlet-class>searchContact.SearchContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContactServlet</servlet-name>
    <url-pattern>/searchContact</url-pattern>
  </servlet-mapping>
</web-app>